#___yourls_overlay
{
	background : white;
	padding : 25px 0;
	border : 2px solid #2a85b3;
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
}
#___yourls_overlay div {
    margin: auto;
    display: table;
}
#___yourls_overlay div div {
    text-align: left;
    display: block;
}
#___yourls_underlay
{
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    background-color: rgba(255,255,255, 0.5);
    overflow-x: hidden;
    transition: 0.8s;
}
